:root {
--border: 5px solid rgb(80, 69, 119);
--radius: 10px;
--white: white;

}

body {
  font-family: 'Open Sans', sans-serif;
  font-size: 16px;
  line-height: 1;
  background-color: rgb(142, 126, 202);
}

textarea{
  background: transparent;
  border: none;
  resize: none;
  color: #000000;
  border-left: 1px solid black;
  padding: 10px;
}

.jumbotron {
  text-align: center;
  background-color: rgb(100, 90, 138);
  color: var(--white);
  border-radius: 0;
  border-bottom: 10px solid rgb(80, 69, 119);
}

.display-3 {
  background-color: rgb(71, 140, 213);
  border: var(--border);
  border-radius: var(--radius);
  color: var(--white);
}

#currentDay {
  display:inline;
  border-bottom: 2px solid rgb(80, 69, 119);
}

.description{
  white-space: pre-wrap;
  border-radius: var(--radius);
  border: var(--border);
}

.time-block{
  text-align: center;
}

.row {
  white-space: pre-wrap;
  height: 80px;
}

.hour {
  color: #000000;
  border: var(--border);
  border-radius: var(--radius);
  background-color:rgb(203, 196, 228)
}

.saveBtn {
  border: var(--border);
  border-radius: var(--radius);
  background-color: rgb(112, 170, 231);
  color: var(--white);
}

.saveBtn i:hover {
  font-size: 20px;
  transition: all .3s ease-in-out;
}

.before {
  background-color: rgb(100, 90, 138);
  color: var(--white);
}

.during {
  background-color: rgb(71, 140, 213);
  color: var(--white);
}

.after {
  background-color: rgb(186, 112, 174);
  color: var(--white);
}